* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
  background-image: url(https://drive.google.com/file/d/1zaqeZ1JphEBxoHv3GLWdf5fXun8tSCTc/view);
}
/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  /* padding: 20px 0; */
  color: rgb(252, 248, 243);
  height: 50px;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 1000;
  padding: 1.4rem 4%;
}
